.cb-cursor {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  contain: layout style size;
  pointer-events: none;
  will-change: transform;
  transition: opacity 0.3s, color 0.4s;
}
.cb-cursor:before {
  content: "";
  position: absolute;
  top: -24px;
  left: -24px;
  display: block;
  width: 48px;
  height: 48px;
  transform: scale(0);
  background: #333;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, opacity 0.1s;
}
.cb-cursor-text {
  position: absolute;
  top: -18px;
  left: -18px;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0) rotate(10deg);
  opacity: 0;
  color: white;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.01em;
  transition: opacity 0.4s, transform 0.3s;
}
@supports (mix-blend-mode:exclusion) {
  .cb-cursor.-exclusion, .cb-cursor.-opaque {
    mix-blend-mode: exclusion;
  }
}
@supports (mix-blend-mode:exclusion) {
  .cb-cursor.-exclusion:before, .cb-cursor.-opaque:before {
    background: white;
  }
}
.cb-cursor.-normal, .cb-cursor.-text {
  mix-blend-mode: normal;
}
.cb-cursor.-normal:before, .cb-cursor.-text:before {
  background: #333;
}
.cb-cursor.-inverse {
  color: white;
}
.cb-cursor.-visible:before {
  transform: scale(0.2);
}
.cb-cursor.-visible.-active:before {
  transform: scale(0.23);
  transition-duration: 0.05s;
}
.cb-cursor.-pointer:before {
  transform: scale(0.15);
}
.cb-cursor.-text:before {
  opacity: 0.85;
  transform: scale(1.7);
}
.cb-cursor.-text .cb-cursor-text {
  opacity: 1;
  transform: scale(1);
}
.cb-cursor.-text.-active:before {
  transform: scale(1.6);
  transition-duration: 0.05s;
}
.cb-cursor.-opaque:before {
  transform: scale(1.32);
}
.cb-cursor.-opaque.-active:before {
  transform: scale(1.2);
}
.cb-cursor.-lg:before {
  transform: scale(2);
}
.cb-cursor.-hidden:before {
  transform: scale(0);
}
